* {
  font-family: 'Roboto', sans-serif;
}

body {
  overflow-x: hidden;
}

#mapbox-container {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.map-overlay {
  background: rgba(34, 34, 34, 0.75);
  color: #fff;
  position: absolute;
  border: none;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  font-family: sans-serif;
}

#menu-container {
  top: 10px;
  left: 10px;
}

#menu-container button {
  margin: 0px;
}

#menu-toggle {
  background-color: transparent;
  border: 0;
  padding: 0px;
  cursor: pointer;
}

#run-length-container {
  top: 10px;
  left: 64px;
  min-height: 32px;
}

#run-length-container span {
  margin-left: -4px;
}

#run-length {
  font-size: 27px;
  cursor: pointer;
}

#run-units {
  font-size: 16px;
}

#remove-last {
  cursor: pointer;
  top: 64px;
  left: -192px;
  display: flex;
  align-items: center;
  user-select: none;
  animation-duration: .3s;
  animation-fill-mode: forwards;
}

#storage-notice {
  bottom: 20px;
  margin: 0 auto;
  width: 200px;
}

#accept-storage {
  margin-top: 8px;
  height: 30px;
  width: 90px;
  border-radius: 6px;
  background-color: buttonface;
}

#settings-pane {
  z-index: 1;
  position: absolute;
  left: -340px;
  width: 320px;
  height: 100%;
  background-color: white;
  border-radius: 0px 10px 0px 0px;
  transition-duration: 0.3s;
}

.settings-open {
  transform: translateX(340px);
  box-shadow: 2px 16px 12px 6px rgba(0, 0, 0, 0.2);
}

#settings-title {
  display: flex;
}

#settings-title span {
  flex: 5;
  font-size: 20px;
  margin: 5px;
  border-bottom: 1px solid #c1c1c1;
}

#close-settings {
  flex: 1;
  cursor: pointer;
  background: transparent;
  border: 0;
}

#settings-list {
  list-style: none;
}

#settings-list li {
  line-height: 24px;
  margin: 4px;
}

#settings-list li button {
  font-size: 16px;
}

#settings-list li a {
  margin-left: 7px;
}

#settings-pane button {
  background: transparent;
  border: 0;
  width: 100%;
  cursor: pointer;
  text-align: left;
}

/* #settings-mask {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0;
  background-color: black;
  transition-duration: 0.3s;
} */

.slide-in {
  animation-name: slide-in;
}

.slide-out {
  animation-name: slide-out;
}

@keyframes slide-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
    transform: translateX(202px);
    /* left + 10 */
  }
}

@keyframes slide-out {
  from {
    opacity: 1;
    left: 9px;
  }

  to {
    opacity: 0;
  }
}

@media screen and (max-width: 800px) {
  #last-label {
    display: none;
  }

  #settings-pane {
    width: 200px;
  }
}