* {
  font-family: 'Roboto', sans-serif;
}

body {
  overflow-x: hidden;
}

#mapbox-container {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.map-overlay {
  background: rgba(34, 34, 34, 0.75);
  color: #fff;
  position: absolute;
  border: none;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  font-family: sans-serif;
}

#run-menu {
  top: 10px;
  right: 5px;
}

#run-menu span {
  margin-left: -4px;
}

#run-length {
  font-size: 25px;
}

#run-units {
  font-size: 16px;
}

#menu-icon {
  font-size: 12px;
}

#remove-last {
  cursor: pointer;
  top: 62px;
  right: -192px;
  display: flex;
  align-items: center;
  user-select: none;
  animation-duration: .5s;
  animation-fill-mode: forwards;
}

#storage-notice {
  bottom: 20px;
  margin: 0 auto;
  width: 200px;
}

#accept-storage {
  margin-top: 8px;
  height: 30px;
  width: 90px;
  border-radius: 6px;
  background-color: buttonface;
}

#waiting {
  bottom: 20px;
  right: 30px;
}

.slide-in {
  animation-name: slide-in;
}

.slide-out {
  animation-name: slide-out;
}

@keyframes slide-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
    /* width + 4 */
    transform: translate(-196px, 0px);
  }
}

@keyframes slide-out {
  from {
    opacity: 1;
    right: 5px;
  }

  to {
    opacity: 0;
    transform: translate(196px, 0px);
  }
}

@media screen and (max-width: 800px) {
  #last-label {
    display: none;
  }
}
