* {
  font-family: 'Roboto', sans-serif;
}

body {
  overflow: hidden;
}

#mapbox-container {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.map-overlay {
  background: rgba(34, 34, 34, 0.75);
  color: #fff;
  position: absolute;
  border: none;
  border-radius: 5px;
  padding: 8px;
  text-align: center;
  font-family: sans-serif;
  user-select: none;
}

.hidden {
  display: none;
}

#menu-container {
  top: 12px;
  left: 12px;
  height: 32px;
}

#menu-container button {
  margin: 0px;
}

#menu-toggle {
  background-color: transparent;
  border: 0;
  padding: 0px;
  cursor: pointer;
}

#run-length-container {
  top: 12px;
  left: 64px;
  min-height: 32px;
  min-width: 32px;
}

#run-length {
  font-size: 27px;
  cursor: pointer;
}

#run-units {
  font-size: 16px;
  margin-left: -4px;
}

#remove-last {
  cursor: pointer;
  top: 64px;
  left: -192px;
  display: flex;
  align-items: center;
  user-select: none;
  animation-duration: .3s;
  animation-fill-mode: forwards;
}

#help-notice {
  bottom: 24px;
  margin: 0 auto;
  width: 200px;
}

#dismiss-notice {
  margin-top: 8px;
}

#settings-pane {
  z-index: 4;
  position: absolute;
  left: -340px;
  width: 320px;
  height: 100%;
  background-color: white;
  border-radius: 0px 10px 0px 0px;
  transition-duration: 0.3s;
}

.fixed-center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
  z-index: 4;
}

#upload-container {
  background: white;
  border-radius: 10px;
  transition: 0.3s;
  padding: 5px 10px;
  filter: drop-shadow(2px 2px 12px rgba(0, 0, 0, 0.4))
}

.uploadbox {
  width: 300px;
  height: 120px;
  line-height: 120px;
  text-align: center;
  cursor: pointer;
  margin: 8px 0;
  border: 2px dashed #c0c0c0;
}

.uploadbox input[type="file"] {
  cursor: pointer;
  position: absolute;
  margin: 0;
  padding: 0;
  width: 300px;
  height: 120px;
  outline: none;
  opacity: 0;
  margin-left: -21.5%;
}

#upload-container:not(.showing-form) {
  opacity: 0;
  pointer-events: none;
  transform: scale(0.1);
}

#upload-container h1 {
  margin: 0;
}

.button {
  margin: 0 auto;
  cursor: pointer;
  user-select: none;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 30px;
  width: 90px;
  background-color: rgb(75, 129, 232);
  color: #fff;
  border-radius: 6px;
  border-color: transparent;
}

.button:hover {
  opacity: 0.85;
}

.settings-open {
  transform: translateX(340px);
  box-shadow: 2px 16px 12px 6px rgba(0, 0, 0, 0.2);
}

#settings-title {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #c1c1c1;
}

#settings-title span {
  flex: 5;
  font-size: 26px;
  margin: 5px;
}

#close-settings {
  flex: 1;
}

#close-settings svg {
  display: block;
  margin: 0 auto;
}

#style-list {
  padding-bottom: 8px;
  border-bottom: 1px solid #c1c1c1;
}

#settings-pane ul {
  list-style: none;
}

#settings-pane li {
  line-height: 24px;
  margin: 4px;
}

#settings-pane li a {
  margin-left: 8px;
}

#settings-pane button {
  background: transparent;
  border: 0;
  width: 100%;
  cursor: pointer;
  text-align: left;
  font-size: 16px;
}

#settings-pane button:hover {
  opacity: .7;
}

#settings-scrim {
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: black;
  animation-duration: .3s;
  animation-fill-mode: forwards;
}

.scrim-shown {
  animation-name: scrim-shown;
}

.scrim-hidden {
  animation-name: scrim-hidden;
}

.slide-in {
  animation-name: slide-in;
}

.slide-out {
  animation-name: slide-out;
}

@keyframes slide-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
    transform: translateX(204px); /* left + 10 */
  }
}

@keyframes slide-out {
  from {
    opacity: 1;
    left: 8px;
  }

  to {
    opacity: 0;
  }
}

@keyframes scrim-shown {
  from {
    z-index: 3;
    opacity: 0;
  }

  to {
    z-index: 3;
    opacity: .6;
  }
}

@keyframes scrim-hidden {
  0% {
    z-index: 3;
    opacity: .6;
  }

  99% {
    opacity: 0;
  }

  100% {
    z-index: -1;
  }
}

@media screen and (max-width: 800px) {
  #last-label {
    display: none;
  }

  #settings-pane {
    width: 200px;
  }
}
